/* .parent {
    display: grid;
    grid-template-columns: 50px 100px 70px;
    grid-auto-rows: minmax(30px, 150px);
}

.child {
    grid-column-start: 4;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 2;
}  */

.grid {
    display: grid;
    grid-template-columns: 100px 50px 50px 50px;
    grid-template-rows: 1fr 2fr 3fr 4fr;
    grid-template-areas: "a b b c " "a b b c " "b a a a" "b a a a";
    /* grid-column-gap: 15px;
    grid-row-gap: 25px; */
}

.child1 {
    background-color: blue;
    grid-area: a;
    grid-template-columns: 100px 50px 50px;
}

.child2 {
    background-color: rgb(0, 225, 255);
    grid-area: b;
    grid-template-columns: 50px 100px 100px
}

.child3 {
    background-color: rgb(255, 94, 0);
    grid-area: c;
}

.child4 {
    background-color: rgb(33, 33, 87);
    grid-area: d;
}


/* .child5 {
    background-color: rgb(127, 153, 156);
    grid-area: e;
}

.child6 {
    background-color: rgb(82, 31, 2);
    grid-area: q;
} */


/* .cardBlock {
    width: 1000px;
    height: 800px;
    background: cadetblue;
    margin-left: 300px;
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.cardBlock__picture {
    border: 2px solid black;
    width: 1000px;
    position: relative;
    background: no-repeat;
    display: block;
}

.cardBlock__text {
    float: inline-start;
    position: relative;
    text-align: center;
    background: rgb(117, 202, 228);
    border: 1px solid black;
    opacity: 0.9;
}

.cardBlock__text_color_white {
    color: white;
    background: no-repeat;
}


/* .products {
    display: block;
    justify-content: space-between;
}